body { width:100%; height:100%;}
#content {
  width: 960px;
  margin: 0 auto;
  padding-top: 20px;
}
#statusbar .config{
  float: right;
}

div.porn {
  position:fixed;
  bottom:0;
  width: 960px;
}
div.porn div.play {
  text-align: center;
}
div.porn div.movie {
  height: 200px;;
  overflow: auto; 
  display: none;
  background-color: #E6E6E6;
  padding: 16px;
  border-radius: 2px 2px 0 0;
}

#edit_list .todo input{
  width: 100%;
}
#edit_list .todo button{
  float: right;
}

#lists table {
  width: 100%;
}
