{% extends "base.html" %}
{% block body %}
  <div id="edit_list">
    <h1>{% if edit  %}Edycja{% else %}Dodanie{% endif %} Listy</h1>
    
    <form class="pure-form pure-form-stacked" method="POST" action="">
      <div class="form_failed">
        {% if is_failed %}
          <p>Nie sempaj na znaczki! Pieć znaczków na pole styka:D</p>
        {% endif %}
      </div>
      <fieldset>
        <label for="title">Tytuł</label>
        <input type="text" name="title" value="{{list_obj.title}}" />
        <label for="description">Opis</label>
        <textarea name="description">{{ list_obj.description}}</textarea>
      </fieldset>
      <fieldset>
        <label>Do zrobienia:</label>
        <div id="todo-list">
          {% for field in list_obj.fields %}
            <div class="pure-g todo">
              <div class="pure-u-20-24">
                <input type="text" name="todo_{{field.id}}" value="{{field.todo}}" />
              </div>
              <div class="pure-u-4-24 center-content">
                <a href="{{ url_for('delete_listfield', list_id=list_obj.id, field_id=field.id) }}" class="pure-button pure-button-primary">Usuń zadanie</a>
              </div>
            </div>
          {% else %}
            <div class="todo">
              <div class="pure-u-20-24">
                Brak zadań
              </div>
            </div>
          {% endfor %}
          <label>Dodaj nowe zadanie:</label>
          <div class="pure-g todo">
            <div class="pure-u-24-24">
              <input type="text" name="todo"/>
            </div>
          </div>
          <div class="pure-g todo">
            <div class="pure-u-24-24">
              <input type="text" name="todo"/>
            </div>
          </div>
          <div class="pure-g todo">
            <div class="pure-u-24-24">
              <input type="text" name="todo"/>
            </div>
          </div>
        </div>
      </fieldset>
      <button type="submit" class="pure-button pure-button-primary">Tag!!</button>
      {% if list_obj.id %}
        <a class="pure-button pure-button-primary" href="{{ url_for('delete_list', list_id=list_obj.id) }}">Usuń Liste</a>
        <a class="pure-button pure-button-primary" href="">Nope!!</a>
      {% else  %}
        <a class="pure-button pure-button-primary" href="{{ url_for('lists')}}">Nope!!</a>
      {% endif %}
    </form>
  </div>
{% endblock %}
